<configuration>
    <appender name="logcat" class="ru.rznnike.eyehealthmanager.app.global.log.CrashlyticsAppender">
        <tagEncoder>
            <pattern>%logger{10}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>[THREAD: %thread{15}] %msg</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="logcat"/>
    </root>
</configuration>